.sidebarOption {
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center;
}

.OnClick {
  color: white;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  padding-right: 20px;
}
